<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>People Also Ask</title>
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
      * {
        font-family: "Inter", sans-serif;
      }
      form button {
        width: 84px;
      }
      .space {
        height: 16px;
      }
    </style>
  </head>
  <body>
    <h1>People Also Ask</h1>
    <h2>Search related questions</h2>
    <p>Please pick a search method:</p>
    <form method="post">
      <button value="single" name="search-type" type="submit">Single</button>
      <div class="space"></div>
      <button value="multiple" name="search-type" type="submit">
        Multiple
      </button>
    </form>
  </body>
</html>
