<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Results</title>
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
      * {
        font-family: "Inter", sans-serif;
      }
    </style>
  </head>
  <body>
    <h1>Results</h1>
    <ul>
        {% for i in range(len_) %}
        <li>
            <a href="{{ links[i] }}">{{ queries[i] }}</a>
        </li>
        {% endfor %}
    </div>
  </body>
</html>
